/* ЦІ СТИЛИ РОЗРАХОВАНІ ДЛЯ HEADER */

.header {
    margin-top: 24px;
    margin-bottom: 25px;

    &_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    &_leftside {
        display: flex;

        &--image {
            margin-right: 93px;
            animation-name: jumpElement;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    &_navigation {
        display: flex;

        & a {
            text-decoration: none;
            position: relative;
            color: #000;
            padding-bottom: 5px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #3498db;
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }

        &--item {
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }

            &:not(:last-child) {
                margin-right: 50px;
            }

            & a {
                transition: 0.5s;
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 500;
                line-height: 16.41px;
                letter-spacing: 0.02em;

                &:hover {
                    transition: 0.5s;
                    color: #2196f3;
                }
            }
        }
    }

    &_rigthside {
        display: flex;
        align-items: center;
        gap: 30px;

        &--first,
        &--second {
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;

                & svg path {
                    color: #2196f3;
                    fill: #2196f3 !important;
                    transition: 0.5s;
                }

                & a {
                    color: #2196f3;
                    transition: 0.5s;
                }
            }
        }

        & a {
            transition: 0.5s;
            font-family: "Roboto";
            font-size: 14px;
            font-weight: 500;
            line-height: 16.41px;
            letter-spacing: 0.02em;

            &:not(:last-child) {
                margin-right: 50px;
            }

            &:hover {
                transition: 0.5s;
                color: #2196f3;
            }
        }

        & svg {
            transition: 0.5s;
        }
    }
}