@keyframes shadow {
  0% {
    box-shadow: 0 0 10px 0 #306794, 0 0 10px 0 #306794;
  }
  50% {
    box-shadow: 0 0 3px 1px#306794, 0 0 3px 1px #306794; /* плавный промежуточный эффект */
  }
  100% {
    box-shadow: 0 0 8px 2px #306794, 0 0 1px 10px #306794;
  }
}
