// .main {
//   &_container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     max-width: 1170px;
//     margin: 0 auto;
//   }

//   &_first--section {
//     background-image: url(../images/background.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//   }

//   &_first--title {
//     margin-bottom: 30px;
//   max-width: 696px;
//   padding-top: 200px;
//   color: white;
//   font-family: Roboto;
//   font-size: 44px;
//   font-weight: 900;
//   line-height: 60px;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   text-align: center;
//   }

//   &_first-btn--wrapper {
//     padding-bottom: 200px;
//   }

//   &_first--button {
//     width: 216px;
//   height: 50px;
//   border: 0;
//   border-radius: 4px;
//   background-color: #2196f3;
//   font-family: Roboto;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 30px;
//   letter-spacing: 0.06em;
//   text-align: center;
//   color: white;
//   transition: all 0.2s;
//   animation-fill-mode: forwards;

//   &:hover {
//     transition: all 1s;
//     background-color: #31a0fa;
//     cursor: pointer;
//     animation: shadow 1s infinite ease-in-out;
//     transform: skew(7deg, 2deg);
//   }
//   }
// }

.main {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &_first--section {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    .main_first--title {
      margin-bottom: 30px;
      max-width: 696px;
      padding-top: 200px;
      color: white;
      font-family: Roboto;
      font-size: 44px;
      font-weight: 900;
      line-height: 60px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
    }

    .main_first-btn--wrapper {
      padding-bottom: 200px;
    }

    .main_first--button {
      width: 216px;
      height: 50px;
      border: 0;
      border-radius: 4px;
      background-color: #2196f3;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.06em;
      text-align: center;
      color: white;
      transition: all 0.2s;
      animation-fill-mode: forwards;

      &:hover {
        transition: all 1s;
        background-color: #31a0fa;
        cursor: pointer;
        animation: shadow 1s infinite ease-in-out;
        transform: skew(7deg, 2deg);
      }
    }
  }

  &_second {
    &--section {
      margin-top: 94px;

      .main_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
      }
    }

    &-cards--wrapper {
      display: flex;
      gap: 30px;

      .main_second--card:nth-child(1)::before {
        content: "";
        background-image: url("../../images/antenna\ 1.png");
        width: 65px;
        height: 70px;
        display: flex;
        justify-content: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 55px;
        background-position: center;
      }

      .main_second--card:nth-child(2)::before {
        content: "";
        background-image: url(../../images/clock\ 1.png);
        width: 65px;
        height: 70px;
        display: flex;
        justify-content: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 55px;
        background-position: center;
      }

      .main_second--card:nth-child(3)::before {
        content: "";
        background-image: url(../../images/diagram\ 1.png);
        width: 65px;
        height: 70px;
        display: flex;
        justify-content: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 55px;
        background-position: center;
      }

      .main_second--card:nth-child(4)::before {
        content: "";
        background-image: url(../../images/astronaut\ 1.png);
        width: 65px;
        height: 70px;
        display: flex;
        justify-content: center;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 55px;
        background-position: center;
      }
    }
    &--title {
      margin-bottom: 10px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 16.41px;
      letter-spacing: 0.03em;
      color: #212121;
    }
    &--text {
      max-width: 270px;
      color: #757575;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
    }
  }

  &_third {
    &--section {
      margin-top: 94px;
      margin-bottom: 188px;
      .main_card {
        display: flex;
        gap: 30px;
       

        .cards {
          transition: transform 0.5s ease-in-out;
          position: relative;
          max-width: 370px;

          &:hover {
            transform: scale(1.1, 1.1);
            cursor: pointer;
          }
          // &:nth-child(1) {
          //   margin-right: 30px;
          // }
          // &:nth-child(3) {
          //   margin-left: 30px;
          // }
          .main_text--title {
            display: flex;
            position: absolute;
            bottom: 0;
            align-items: center;
            justify-content: center;
            background-color: #2f303acc;
            padding: 27px 0;
            width: 100%;
            animation-name: fadeIn;
            animation-duration: 7s;
            animation-iteration-count: infinite;

            .main_text {
              font-family: Roboto;
              font-size: 14px;
              font-weight: 700;
              line-height: 16.41px;
              letter-spacing: 0.03em;
              text-align: center;
              color: aliceblue;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    &--title {
      margin-bottom: 50px;
      color: #212121;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.19px;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }

  &_fourth {
    &--section {
      margin-bottom: 94px;
    }
    &--medias {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding-bottom: 30px;
      & svg:hover g path {
        transition: 0.5s;
        cursor: pointer;
        fill: white;
      }
      & svg:hover path {
        transition: 0.5s;
        fill: #2196f3;
        cursor: pointer;
      }
    }
    &--title {
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.19px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #212121;
      margin-bottom: 50px;
    }
    &--cards {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .card {
        padding-bottom: 30px;
        box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
          0px 1px 3px 0px #0000001f;
      }

      img {
        width: 270px;
        height: 260px;
      }

      .card_title {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      .card_text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #757575;
        padding-bottom: 30px;
      }
    }
  }

  &_fifth {
    &--section {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &--title {
      margin-bottom: 50px;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 42.19px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #212121;
    }

    &--clients {
      display: flex;
      gap: 30px;
      transition: transform 0.5s ease-in-out;

      svg rect,
      svg path {
        transition: 0.5s;
      }

      svg:hover {
        transform: scale(1.1, 1.1);
        cursor: pointer;

        & rect {
          transition: 0.5s;
          stroke: #2196f3;
        }

        & path {
          transition: 0.5s;
          fill: #2196f3;
        }
      }
    }
  }
}

@import './adaptive/main-adaptive'
